<label>Server Name</label>


<!-- Two way binding -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
> 

<button
    class="btn btn-primary"
    [disabled]="serverName === ''"
    (click)="onCreateServer()"
>Create Server </button>
<p *ngIf="serverCreated; else noServer">{{ "Abubakar" }} Server  is {{ serverName }}</p>
<!-- <ng  -->
<ng-template #noServer>
    <p>No server was created.</p>
</ng-template>
<p *ngelse>No server</p>
<!-- <p>{{ serverCreationStatus }}</p> -->
<app-server></app-server>
